name: CI

env:
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:21

      - name: Cache sbt
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
      
      - name: Run tests
        run: sbt clean test
        
      - name: Run coverage
        run: sbt coverage test

      - name: Coverage report
        run: sbt coverageReport

      - name: Upload to Coveralls
        run: sbt coveralls

